services:
  # --- INFRASTRUCTURE ---
  db:
    image: mongo:latest
    container_name: forum-db
    ports:
      - "27017:27017"

  # --- GATEWAY (The Entry Point) ---
  gateway:
    build: ./forum-gateway
    ports:
      - "8080:8080"
    environment:
      - ACCESS_TOKEN_SECRET=${ACCESS_TOKEN_SECRET}
    networks:
      - forum-net

  # # --- FRONTEND ---
  # frontend:
  #   build: ./forum-frontend
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     - VITE_API_GATEWAY=http://localhost:8080
  #   networks:
  #     - forum-net

  # # --- MICROSERVICES ---
  # auth:
  #   build: ./forum-auth-service
  #   environment:
  #     - JWT_SECRET=${JWT_SECRET}
  #   networks:
  #     - forum-net

  # user:
  #   build: ./forum-user-service
  #   environment:
  #     - MONGO_URI=${MONGO_URI}
  #     - MONGO_PASSWORD=${MONGO_PASSWORD}
  #   networks:
  #     - forum-net

  # post-reply:
  #   build: ./forum-post-reply-service
  #   environment:
  #     - MONGO_URI=${MONGO_URI}
  #     - MONGO_PASSWORD=${MONGO_PASSWORD}
  #   networks:
  #     - forum-net

networks:
  forum-net:
    driver: bridge